<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand text-white" href="/">ourtable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user.nil? %>
      <li class="nav-item">
        <%= link_to "Login", login_path, class: 'nav-link text-white' %>
      </li>


      <% else %>
      <li class="nav-item">
        <%= link_to "About", about_path, class: 'nav-link text-white' %>
      </li>

        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: 'nav-link text-white' %>
        </li>
        <% if current_user.user_type == 'Farm' %>
          <li class="nav-item">
            <%= link_to "Add Product", new_product_path, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to "My Products", products_path, class: 'nav-link text-white' %>
          </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Orders", invoices_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "Products", farmers_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <a href='/cart' class='nav-link text-white'>Cart <span class='badge badge-danger'><%= cart_count %></span></a>
        </li>
        <% end %>

      <li class="nav-item">
        <%= link_to "Logout", logout_path, class: 'nav-link text-white' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
