<!DOCTYPE html>
<html>
<head></head>
<body>

<h1>Email us at abc@getdemo.com</h1><br>


<br>

<p>Copyright 2017</p>


<br>



	<%= image_tag("logos/vikki.png", width: '150px') %> <br>

		<div class="Main-Links">
             <%= link_to 'Vikki', 'https://nycda.slack.com/messages/G7UPVKTT6/team/U6X55A4LX/' %> 
        </div>


	<br>
	<br>

	<%= image_tag("logos/mahima.jpeg", width: '150px') %> <br>

		<div class="Main-Links">
             <%= link_to 'Mahima', 'https://nycda.slack.com/messages/D79TD5R0D/team/U6X55A4LX/' %> 
        </div>



	<br>
	<br>

	<%= image_tag("logos/mikeyd.jpeg", width: '150px') %> <br>

		<div class="Main-Links">
             <%= link_to 'Mikey', 'https://nycda.slack.com/messages/G7UPVKTT6/team/U6X55A4LX/' %> 
        </div>


</body>
</html>