<head>
</head>

<body class="Add_Product">
<div class="new_prod_form">
	<div class="form"><%= render partial: 'form' %></div>
  </div>
	<div class="pears_oranges"><%= image_tag("pears_oranges.png", :alt => "rss feed") %></div>

			<div class="orange_smooth"><%= image_tag("orange_roll.png", :alt => "rss feed") %></div>
			<div class="orange_smooth1"><%= image_tag("orange_roll.png", :alt => "rss feed") %></div>
			<div class="orange_smooth2"><%= image_tag("orange_roll.png", :alt => "rss feed") %></div>
			<div class="orange_smooth3"><%= image_tag("orange_roll.png", :alt => "rss feed") %></div>
			<div class="orange_smooth4"><%= image_tag("orange_roll.png", :alt => "rss feed") %></div>
			<div class="orange_smooth5"><%= image_tag("orange_roll.png", :alt => "rss feed") %></div>
</body>
